/* .Navigationitems{
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    list-style: none;
    height: 100%;
    align-items: center;
    

} */

.root1{
    color: lightgrey;
}
.root {
    height: 260;
    flex-grow: 1;
    max-width: 400;
  }
.item a{
    text-decoration: none;
    color: rgb(209, 205, 205);
  
    /* letter-spacing: 1px; */
}
.item a:hover,
.item a:active,
.item a.active {
    /* color: rgb(100,149,237); */
    color: rgb(79, 187, 230);
    font-weight: bold;
    
}

/* .alignitem{
    padding-top: 30px;
}
.alignmat{
    vertical-align: middle;
    color:rgb(121, 120, 120);
    margin-right: 15px;
    
} */
/* @media (min-width: 500px) { 
    .Navigationitems { 
        flex-flow: column; 
        
    } 
} */
